.ico-mono-exit {
  width: 1em;
  height: 1em;
  fill: #a8aebf;
}
.ico-mono-ic-gun {
  width: 0.97em;
  height: 1em;
  fill: #adff00;
}
.ico-mono-ic-money {
  width: 1.06em;
  height: 1em;
  fill: #ffd000;
}
.ico-mono-ic-sound {
  width: 1.13em;
  height: 1em;
  fill: #adff00;
}
.ico-mono-ic1 {
  width: 1.08em;
  height: 1em;
  fill: #adff00;
}
.ico-mono-ic2 {
  width: 1.08em;
  height: 1em;
  fill: #adff00;
}
.ico-mono-ic3 {
  width: 1.08em;
  height: 1em;
  fill: #adff00;
}
.ico-mono-pic-clever {
  width: 1em;
  height: 1em;
  fill: #ffd000;
}
.ico-mono-profile {
  width: 1em;
  height: 1em;
  fill: #adff00;
}
.ico-mono-steam {
  width: 1em;
  height: 1em;
  fill: #1f1f1f;
}
.ico-mono-timer {
  width: 1em;
  height: 1em;
  fill: #adff00;
}
